$white: #fff;
$gradientF: #004f4f;

$monzo1: #327787;
$monzo2: #9abda9;
$monzo3: #dfc586;
$monzo4: #e83860;

$catBills: #55B9DA;
$catCash: #9BBBA8;
$catEatingOut: #E44D61;
$catEntertainment: #E98251;
$catExpenses: #E0B885;
$catGeneral: #CCCCCC;
$catGroceries: #F4B851;
$catHolidays: #B886FC;
$catShopping: #EE9697;
$catTransport: #24788B;

$font--sans: Helmet, Freesans, Helvetica, Arial, sans-serif;
